.advantages {
  .advantages-list {
      padding-left: 1.2rem;
  }
  .advantages-icon {
    width: 1.3rem;
    margin-right: 0.7rem;
  }
  .advantages-list-item {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 300;
    color: rgb(74, 74, 78);
  }
  .advantages-button {
      margin-top: 6.8rem;
  }
}
