.profile {
  background: #f2f2f6;
  .profile-image {
    padding-top: 1rem;
  }
}
.profile-new {
  display: flex;
  justify-content: center;
  background: #fff;
  .mob-container {
    width: 100%;
    max-width: 37.5rem;
    padding: 1.6rem;
  }
  .profile-header {
    padding: 1.2rem 0;
  }
  .profile-avatar-content {
    padding-top: 1.6rem;
    padding-bottom: 4rem;
    .profile-avatar {
        width: 8rem;
        height: 8rem;
        margin: 0 auto 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2.5rem;
        background: #F3F4F5;
        font-size: 2.2rem;
        font-weight: bold;
        color: #B6BCC3;
    }
    .profile-name {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
    }
  }
  .profile-item-name {
      padding: 2rem 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .profile-item-name-text {
          font-size: 1.9rem;
          font-weight: 600;
      }
  }
  .profile-carousel {
      padding-bottom: 2rem;
      margin: 0 -1.6rem;
      .profile-carousel-item {
        padding: 0 0.4rem;
      }
  }
  .profile-subitems {
      padding: 0 1rem;
      .profile-subitem {
          padding: 1.6rem 0;
          display: flex;
          align-items: center;
          .profile-subitem-icon {
              width: 2rem;
              margin-right: 1.9rem;
          }
          .profile-subitem-name {
              font-size: 1.7rem;
              line-height: 2.2rem;
          }
      }
  }
}
